body {
    display: flex;
    gap: 200px;
    padding-right: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-left: 50px;
    margin-top: 20px;
}
p {
    text-align: justify;
    text-justify: inter-word;
}

.vitruvioimage {
    height: 340px;
    width: 250px;
}


.diseño {
    display: flex;
}

.logowiki {
    height: 75px;
    width: 75px;
    padding-left: 35px;
}

nav ul {
    list-style-type: none;
}

ul hr {
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 10px;
}

ol {
    margin-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

nav {
    background-color: rgb(236, 236, 236);
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

ul li a {
    text-decoration: none;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}
